<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No title</title>
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
    <div class="site">
    <div id="test"></div>

    <script id="listItemTemplate" type="text/template">
        <ul>
            <li><strong>Title: </strong> title </li>
            <li><strong>Description: </strong> description </li>
        </ul>
    </script>

    <script src="../ext/jquery-3.1.1.min.js"></script>
    <script src="../ext/underscore-min.js"></script>
    <script src="../ext/knockout-3.4.1.js"></script>
    <script src="../ext/backbone-min.js"></script>
    <script src="listItemView.js"></script>
    <script src="listCollectionView.js"></script>
    <script src="index.js"></script>
</body>
</html>